body 
{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-weight: 400;
    font-size: 16px; 
    line-height: 24px;
    letter-spacing: 0.02em;
}

/* reset */

a
{
    text-decoration: none; 
}

ul,
ol 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p
{
    margin: 0;
}

img 
{
    display: block;
    max-width: 100%;
    height: auto;
}

/* common */

.container 
{
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

/*header and logo*/

.page-header
{
  border-bottom: 1px solid #E7E9FC;  
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
0 1px 1px 0 rgba(46, 47, 66, 0.16),
0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container
{
    display: flex;
    align-items: center;
}

.header-nav
{
    display: flex;
    align-items: center;
}

.logo
{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.header-logo
{
    margin-right: 76px;
    padding: 24px 0;

}

.header-logo .logo-part
{
    color: #2E2F42;
}

.footer-logo
{
    margin-bottom: 16px;
    display: inline-block;
}

.footer-logo .logo-part {
    color: #F4F4FD;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-link
{
    display: block;
    padding: 24px 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.nav-link.current
{
    position: relative;
}

.nav-link.current::after
{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404BBF;
}
   
.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts-link
{
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.nav-link.current
{
    color: #404BBF;
}
 
/*hero image*/

.section {
    padding: 120px 0;
}

.introduction-banner
{    
    padding: 188px 0;
    margin: 0 auto;
    max-width: 1440px;
    background-color: #2E2F42;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url("../images/banner-hero.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.introduction-banner-hero
{
    display: block;
    margin: auto;
    margin-bottom: 48px;
    max-width: 496px;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.modal-button
{
    display: block;
    margin: auto;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:#FFFFFF;
    background-color: #4D5AE5;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus
{
    background-color: #404BBF;
}

/*section strategy*/

.visually-hidden
{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.strategy-list
{
    display: flex;
    gap: 24px;
}

.strategy-item
{
    width: calc((100% - 72px) / 4);
}

.section-title
{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em; 
    text-transform: capitalize;
    margin-bottom: 72px;
    color: #2E2F42
}

.strategy-box-icons
{
    display: flex;  
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #F4F4FD;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    margin-bottom: 8px;
}

.title
{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: #2E2F42
}

.text
{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

/*section team*/

.team 
{
    background-color: #F4F4FD;
}

.team-list
{
    display: flex;
    gap: 24px;
}

.team-item
{
    width: calc((100% - 72px) / 4);
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-name
{
    padding: 32px 0;    
}

.team-title
{
    text-align: center;
    margin-bottom: 8px;
}

.team-text
{
    text-align: center;
    margin-bottom: 8px;
}

.team-social-list
{
    display: flex;
    justify-content: center;
    gap: 24px;
    }

.team-social-item
{
    width: 40px; 
    height: 40px;
}

.social-link
{
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social:hover,
.team-social:focus
{
    background-color: #404BBF;   
}

.social-icons
{
    fill: #F4F4FD;
}


/* portfolio*/

.portfolio-list
{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item
{
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.portfolio-item:hover
{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-box
{
    position: relative;
    overflow: hidden;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-overley
{
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    padding: 40px 32px;
    background-color: #4D5AE5;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .text-overley
{
    transform: translateY(0%);
    }

.portfolio-app
{
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}

/*footer*/

.page-footer
{
    padding: 100px 0;
    background-color: #2E2F42;
}

.footer-box
{
    display: flex; 
    align-items: baseline;
}

.slogan-box
{
    margin-right: 120px;
}

.footer-slogan 
{
    max-width: 264px;
    color: #F4F4FD;
    background: #2E2F42;
    letter-spacing: 0.02em;
}

.footer-social
{
    margin-right: 80px;
}

.footer-title
{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-social-list
{
    display: flex;
    gap: 16px;
}

.footer-social-item
{
    width: 40px;
    height: 40px;
}

.footer-social-link:hover,
.footer-social-link:focus,
.button-subscribe:hover,
.button-subscribe:focus
{
    background-color: #31D0AA;
}

.footer-subscribe-box
{
margin-left: auto;
}

.footer-subscribe
{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: flex-end;
}

.footer-label
{
    display: flex;
    flex-direction: column;
    
    
}

.footer-placeholder
{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding: 8px 16px;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
}

.footer-placeholder:hover,
.footer-placeholder:focus
{
    border-color: #31D0AA;
}

.button-subscribe
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-width: 165px;
    height: 40px;
    border: none;
    padding: 8px 64px 8px 24px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);   
}

.button-icon
{
    fill: #F4F4FD; 
    margin-left: 16px;
    position: absolute;
    top: 50%;
    right: 24px;
    transform: translateY(-50%);
    cursor: pointer;
}

/*modal*/

.backdrop
{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 999;
opacity: 0;
pointer-events: none;
visibility: hidden;
background-color: rgba(46, 47, 66, 0.4);
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open
{
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.modal
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #FCFCFC;
    border-radius: 4px;
    padding: 72px 24px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(.is-open) .modal
{
    transform: translate(-50%, -50%) scale(1.5);
}

.button-close 
{
    position: absolute;
    top: 24px;
    right: 24px;   
    cursor: pointer;
    width: 24px;
    height: 24px;
    background-color: #E7E9FC;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover,
.button-close:focus
{
    background-color: #404BBF;
    border: none;
}

.close
{
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover .close,
.button-close:focus .close
{
    fill: #FFFFFF;
}



.modal-title
{
    color: #2E2F42;
    margin-bottom: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
        
}

.form-field
{
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.form-field label
{
margin-bottom: 4px;
}

.form-label
{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.input-wrapper
{
    position: relative;
}

.form-field svg
{
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field input
{
    border: none;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px; 
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field input:hover,
.form-field input:focus,
.form-field textarea:hover,
.form-field textarea:focus
{    
    border-color: #4D5AE5;      
}

.form-field input:hover + svg,
.form-field input:focus + svg
{
    fill: #4D5AE5;
}

.form-field-description
{
    margin-bottom: 16px;  
}

.form-field textarea
{
    border: none;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field textarea::placeholder
{
    color: rgba(46, 47, 66, 0.4);
}

.form-field textarea:focus::placeholder,
.form-field textarea:hover::placeholder
{
    color: #4D5AE5;
}

.check
{
    display: block;
}

.check-field
{
    margin-bottom: 24px;
}

.label-user-privacy
{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.check-box
{
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.check-input:checked + .check-box
{
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}

.check-box-accept
{
    color: #4D5AE5;
}






